name: E2E test ↔️

on:
  push:
  repository_dispatch:
  schedule:
  - cron: 0 12 * * *

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: "3.7"

    - name: Build distribution
      run: make install
    
    - name: Install Geckodriver
      run: make gecko

    - name: Run integration tests
      run: make test
      env:
        KEY: ${{ secrets.anticaptcha_key }}
